Client/Qt/Led_Matrix/Led_Matrix3.pro.user
*.o
Client/Qt/build-Led_Matrix3-Desktop_Qt_5_0_2_MinGW_32bit-Debug/Makefile.Debug
Client/Qt/build-Led_Matrix3-Desktop_Qt_5_0_2_MinGW_32bit-Debug/Makefile.Release
*.exe